.box{
    background-color: black;
    font-family: 'VT323', monospace;
    color: white;
    height: 700px;
    width: 1260px;
}
.header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: 0px 60px;
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}
.topSection{
    display: inline;
}
.seqDisplay{
    margin: 10px 40px;
    border-collapse: collapse;
}
td{
    border: 1px solid white;
    height: 25px;
    width: 25px;
}
.label{
    border: none;
    width: auto;
    padding-right: 5px;
    text-align: center;
}
.accent{
    border-width: 3px;
}
.mixer{
    height: 200px;
    width: 400px;
    position: absolute;
    top: 135px;
    left: 700px;
}

.min{
    padding-bottom: 0;
}
.mixerLabel{
    border: none;
    width: auto;
    padding-right: 30px;
    text-align: center;
}
.samples button{
    font-family: 'VT323', monospace; 
    font-size: large;
    color: white;
    margin-top: 130px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border: solid 3px;
    background-color: black;
}
.samples button:hover{
    background-color: white;
    border: solid 3px white;
    color: black;
}
.samples button:active{
border: solid 3px black;
}
.samples{
    margin-left: 100px;
}
.sequencer button{
    font-family: 'VT323', monospace; 
    font-size: large;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border: solid 3px;
    background-color: black;
}
.sequencer button:hover{
    background-color: white;
    border: solid 3px white;
    color: black;
}
.sequencer button:active{
border: solid 2px black;
}
.sequencer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.controls{
    position: absolute;
    top: 340px;
    left: 60px;
    
}
.seqLabels{
    margin-left: 180px;
}
.seqLabels td{
    border: none;
    padding-right: 212px;
}
.playButtons{
    position: absolute;
    top: 390px;
    left: 750px;
}
.playButtons button{
    margin-top: 30px;
    margin-left: 10px;
    height: 90px;
    width: 90px;
    border: solid 3px black;
    background-color: white;
}
.playButtons button:hover{
    border: solid 5px white;
}